<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="Suite">
  <test thread-count="5" parallel="classes" name="Test">
    <classes>
      <class name="com.sportsocial.database.readdatafromdbtestcase1"/>
      <class name="testngPractice.Testngpractice3"/>
      <class name="com.sportsocial.Homemodule.UpdatestatusTestcase_2"/>
      <class name="testngPractice.Testngpractice2"/>
      <class name="testngPractice.Testngpractice1"/>
      <class name="com.sportsocial.adminModule.Verfiytheprofileinfo"/>
      <class name="com.sportsocial.signinModule.SiginwithMutilpleData"/>
      <class name="com.sportsocial.adminModule.ChangeprofilePhotoTestcase1"/>
      <class name="testngPractice.Testngxml"/>
      <class name="com.sportsocial.adminModule.VerifythestatusanddelectTest2"/>
      <class name="com.sportsocial.Homemodule.UpdatestatuscommentTestcase_1"/>
      <class name="testngPractice.Testngpractice4"/>
      <class name="com.sportsocial.ProfileModule.EdittheProfileTestcase1"/>
      <class name="com.sportsocial.Homemodule.UploadMutilpestatus"/>
      <class name="com.sportsocial.Homemodule.ComentthepostinOtheruser"/>
      <class name="com.sportsocial.UserModule.PostthestatusTestcase1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
